// User
.top {
  @include flex-between;
  padding: $space-1 * 9 $space-1 * 8;
  border-radius: $radius-1 * 8;
  background-color: $color-primary;
  color: #fff;

  .top-title {
    font-size: 36px;
    font-weight: 700;
  }

  .top-label {
    color: #d4e3ff;
    font-weight: 100;
  }

  .total {
    text-align: right;

    .total-label {
      color: #d4e3ff;
      font-weight: 100;
    }
  }
}

.form-tabs {
  margin-bottom: $space-3;
}

.avatar-wrap {
  margin-bottom: $space-6;
  display: flex;
  justify-content: center;
}